header {
    box-sizing: border-box;
    border: 5px;
    border-color: aquamarine;
    background-color: darkblue;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size: larger;
    height: 20px;
}

#title {
    color: white;
}

#current-card {
    background-color: lightblue;
}

.favorable-UV {
    border: lightgreen;
    background-color:lightgreen;
}

.moderate-UV {
    border: yellow;
    background-color:yellow;
}

.severe-UV {
    border:orangered;
    background-color:orangered;
}