header {
    box-sizing: border-box;
    border: 5px;
    border-color: aquamarine;
    background-color: darkblue;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size: larger;
    height: 20px;
}

#title {
    font: white;
}

#current-card {
    background-color: lightblue;
}